BaseUrl: www.alexzfx.cn
spring:
  datasource:
    # 配置 mysql+druid
    url: jdbc:mysql:///earlywarning?useSSL=false
    password: 'xxxx'
    username: root
    driver-class-name: com.mysql.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    # druid配置文件
    druid:
        initial-size: 5
        min-idle: 5
        max-active: 20
        max-wait: 60000
        time-between-eviction-runs-millis: 60000
        min-evictable-idle-time-millis: 300000
        test-while-idle: true
        test-on-borrow: false
        test-on-return: false
        validation-query: SELECT 1 FROM DUAL
        pool-prepared-statements: true
        max-pool-prepared-statement-per-connection-size: 20
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  redis:
    host: 127.0.0.1
    # redis默认 0
    database: 0
    port: 6379
    password: 'xxxx'
    timeout: 1000ms
  # mailSender配置
  mail:
    host: smtp.163.com
    username: z1079911968@163.com
    password: 'xxxxxxxx'
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
  rabbitmq:
      host: 127.0.0.1
      port: 5672
      username: xxxxxxx
      password: xxxxxxx
